:root{
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: calc(100vh - 1px);  
}

.container{
  max-width: 640px;
  margin: 4rem 2rem;
}

.container section{
  padding: 3rem 1.6rem;
}

.container section img{
  margin-bottom: 1rem;
}

.container section h2{
  color: var(--Very-light-gray-background-headings-buttons);
  font-family: "Big Shoulders Display",sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.container section p{
  color: var(--Transparent-white-paragraphs);
  margin-bottom: 1rem;
  font-family: "Lexend Deca",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.container section button{
  font-family: "Lexend Deca",sans-serif;
  background-color: var(--Very-light-gray-background-headings-buttons);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2.3rem;
}

.container .sedans{
  background-color: var(--Bright-orange);
  border-radius: 1rem 1rem 0 0;
}

.container .sedans .orange{
  color: var(--Bright-orange);
}

.container .sedans .orange:hover{
  background-color: var(--Bright-orange);
  color: var(--Very-light-gray-background-headings-buttons);
  border: 2px solid var(--Very-light-gray-background-headings-buttons);
}

.container .suvs{
  background-color: var(--Dark-cyan);
}

.container .suvs .cyanl{
  color: var(--Dark-cyan);
}

.container .suvs .cyanl:hover{
  background-color: var(--Dark-cyan);
  color: var(--Very-light-gray-background-headings-buttons);
  border: 2px solid var(--Very-light-gray-background-headings-buttons);
}

.container .luxury{
  background-color: var(--Very-dark-cyan);
  border-radius: 0 0 1rem 1rem;
}

.container .luxury .cyand{
  color: var(--Very-dark-cyan);
}

.container .luxury .cyand:hover{
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-gray-background-headings-buttons);
  border: 2px solid var(--Very-light-gray-background-headings-buttons);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (min-width: 1440px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container{
    max-width: 70%;
    display: flex;
    margin: 5rem 15rem 3rem;
  }

  .container section{
    padding-left: 3rem;
  }

  .container section p{
    color: var(--Transparent-white-paragraphs);
    margin-right: 2.4rem;
    margin-bottom: 5rem;
  }

  .container .sedans{
    border-radius: 1rem 0 0 1rem;
  }

  .container .luxury{
    border-radius: 0 1rem 1rem 0;
  }
}